<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.communityx">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.SeeAllAboutActivity">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity android:name=".activity.SendLocationActivity"/>
        <activity android:name=".activity.GroupInfoActivity">
        </activity>
        <activity android:name=".activity.CreateGroupActivity"/>
        <activity android:name=".activity.EventActivity">
        </activity>
        <activity
                android:name=".activity.NewGroupActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:name=".activity.MessageActivity"/>
        <activity android:name=".activity.ProfileActivity">
        </activity>
        <activity android:name=".activity.EventDetailActivity">
        </activity>
        <activity android:name=".activity.DonatedCreatedActivity">
        </activity>
        <activity android:name=".activity.CrowdfundingDetailActivity">
        </activity>
        <activity
                android:name=".activity.CreatePostActivity"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.PaymentActivity">
        </activity>
        <activity
                android:name=".activity.LikesActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.ConnectAlliesActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.DashboardActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name=".activity.WelcomeActivity"
                android:screenOrientation="portrait">
        </activity>

        <activity-alias
                android:name=".Main"
                android:targetActivity=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity
                android:name=".activity.LoginActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.SignupCategoryActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.SignUpStudentInfoActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.PraiseActivity"/>
        <activity android:name=".activity.DonatedByActivity"/>
    </application>

</manifest>